<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!-- 扫描@Controller注解 -->
    <context:component-scan base-package="com.demo.controller">
    </context:component-scan>
    <!-- 配置注解的处理器映射器和处理器适配器，即注册HandlerMapping和HandlerAdapter的实现类；    如果前端控制器url-pattern设置的是/，不加的话会导致无法区分请求是资源文件还是mvc的注解，请求会报404错误 -->
    <mvc:annotation-driven />
    <!--通用视图解析器 -->

    <bean id="viewResolverCommon"  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"  value="org.springframework.web.servlet.view.InternalResourceView" />

        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>

    </bean>
    <!--

    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/jsp/"
          p:suffix=".jsp">
    </bean>
    -->
    <!-- 配置静态资源映射 -->
    <mvc:resources location="/WEB-INF/css" mapping="/css/**"/>
    <mvc:resources location="/WEB-INF/css" mapping="/js/**"/>
    <mvc:default-servlet-handler></mvc:default-servlet-handler>
</beans>